continue from where you left off


Активируйте ваше рабочее окружение в Anaconda:
conda activate top25
conda install -c conda-forge cartopy
cd C:\Users\user\Desktop\varients\10 six lists
pyinstaller --onefile --hidden-import numpy --hidden-import cartopy --add-data "countries.json;." --add-data "map/ne_110m_admin_0_countries.dbf;map" --add-data "map/ne_110m_admin_0_countries.prj;map" --add-data "map/ne_110m_admin_0_countries.shp;map" --add-data "map/ne_110m_admin_0_countries.shx;map" World_map.py
cd dist
cd ..
World_map.exe


pyinstaller --onefile --hidden-import numpy --hidden-import cartopy --add-data "countries.json:." --add-data "map/ne_110m_admin_0_countries.dbf:map" --add-data "map/ne_110m_admin_0_countries.prj:map" --add-data "map/ne_110m_admin_0_countries.shp:map" --add-data "map/ne_110m_admin_0_countries.shx:map" World_map.py
